## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
TestResults/
*.vspscc
*.vssscc
.build.csettings

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
*.swp
*~
.vscode/
*.code-workspace

## OS
.DS_Store
Thumbs.db
desktop.ini

## Zip / backups
*.zip

## Old copies
src1/
src2/

## Sensitive config
**/appsettings.json
**/appsettings.*.json

## Logs
**/Logs/

## Build output files
build.log
build_*.txt
