@inject NavigationManager Navigation

<div class="kcc-admin-nav">
    <NavLink href="/admin/utilisateurs" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="people" Style="font-size: 1rem;" /> Utilisateurs
    </NavLink>
    <NavLink href="/admin/roles" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="admin_panel_settings" Style="font-size: 1rem;" /> Rôles
    </NavLink>
    <NavLink href="/admin/departements" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="business" Style="font-size: 1rem;" /> Départements
    </NavLink>
    <NavLink href="/admin/types-materiels" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="category" Style="font-size: 1rem;" /> Types Matériels
    </NavLink>
    <NavLink href="/admin/statuts" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="toggle_on" Style="font-size: 1rem;" /> Statuts
    </NavLink>
    <NavLink href="/admin/parametres" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="tune" Style="font-size: 1rem;" /> Paramètres
    </NavLink>
    <NavLink href="/admin/workflows" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="route" Style="font-size: 1rem;" /> Workflows
    </NavLink>
    <NavLink href="/admin/audit" class="kcc-admin-nav__item" Match="NavLinkMatch.All">
        <RadzenIcon Icon="history" Style="font-size: 1rem;" /> Audit Logs
    </NavLink>
</div>
